@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Noto Sans", sans-serif;
}

body {
    background-color: #000;
}

.main {
    background-image: url(net_images/main.jpg);
    width: 100%;
    height: 80vh;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1500px, 100vw);

}

.main .box {
    opacity: 0.5;
    width: 100%;
    height: 80vh;
    background-color: #000;
    position: absolute;
    top: 0;
}

.main nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 60vw;
    margin: auto;
    height: auto;
    padding: 10px 0px;


}

nav img {

    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

.txt {
    color: white;
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    flex-direction: column;
    font-family: "Noto Sans", sans-serif;
    gap: 20px;
    padding: 20px;
    text-align: center;

}

.txt> :first-child {
    font-weight: 900;
    font-size: 35;
}

.txt> :nth-child(2) {
    font-size: 25px;
    font-weight: 400;
}

.but {
    color: white;
    font-weight: 400;
    background-color: rgba(23, 23, 23, 0.3);
    border: 2px solid white;
    border-radius: 4px;
    padding: 2px 10px;
    margin: 0px 5px;
}

.but.red {
    background-color: rgb(250, 4, 4);
    border: 2px solid rgb(250, 4, 4);
}

.but.red-get {
    background-color: rgb(250, 4, 4);
    border: 2px solid rgb(250, 4, 4);
    height: 40px;
}

input {
    background-color: rgba(23, 23, 23, 0.3);
    /* height: 25px 25px 5px 60px; */
    padding: 10px 60px;
    padding-top: 5px;
    padding-left: 5px;
}

.sep {
    height: 6px;
    background-color: #4e4b4b;
}

/* ---------------------------------------------------------------- */
#two {
    display: flex;
    max-width: 75vw;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    height: 80vh;
}

.txt2 {
    color: white;
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 20px;
}

.txt2> :first-child {
    font-weight: 900;
    font-size: 35px;
}

.txt2> :nth-child(2) {
    font-weight: 400;
    font-size: 20px;
}

.img2 img {
    height: 300px;
    z-index: 10;


}

.img2 {
    position: relative;

}

.img2 video {
    position: absolute;
    height: 163px;
    right: 57px;
    top: 60px;
    z-index: -1;
}

/* ------------------------------------- */
#three {
    display: flex;
    max-width: 80vw;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    height: 80vh;
    /* background-color: red; */
}

.img3 img {
    height: 350px;
}

.img3 {
    position: relative;
    display: flex;
    justify-content: center;
}

.upimg {
    height: auto;
    width: 60%;
    border: 3px solid rgb(144, 142, 142);
    border-radius: 10px;
    position: absolute;
    bottom: 34px;
    background-color: #000;
    color: white;
    display: flex;
    gap: 15px;
    align-items: center;
    padding: 5px;
}

.upimg img {
    height: 80px;
}

.upimg div> :first-child {
    font-size: 18px;
    font-weight: 600;
}

.upimg div> :nth-child(2) {
    font-size: 14px;
    font-weight: 400;
    color: #0071eb;

}

.upimg div {
    display: flex;
    flex-direction: column;
}

/* ------------------------ */
#four {
    height: 80vh;
    max-width: 70vw;
    /* background-color: red; */
    margin: auto;
    display: flex;
    align-items: center;
}

.img4 img {

    height: 260px;
}

.img4 video {
    position: absolute;
    z-index: -1;
    height: 126px;
    top: 23px;
    left: 60px;

}

.img4 {
    position: relative;
}

/* ----------------------------------- */
#fifth {
    display: flex;
    max-width: 80vw;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    height: 80vh;
}


#feq {
    padding: 50px 0px;
    width: 70vw;
    margin: auto;
    text-align: center;
}

#feq span {
    font-size: 45px;
    font-weight: 900;
    color: white;
}

.f1 {
    background-color: #2d2d2d;
    margin-top: 10px;
    height: 70px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    align-items: center;
}

#feq .f1 span {
    font-size: 25px;
    font-weight: 500;
}

#feq .f1:hover {
    background-color: #615f5f;
    transition: all 0.3s ease-out;
}

.fequ {
    margin-bottom: 30px;
}

#feq .last span {
    font-size: 20px;
    font-weight: 500;
}

.last {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.last div {
    align-items: center;
}

footer {
    height: 80vh;
    margin: 30px;
    color: white;
}

footer .list {
    display: flex;
    flex-direction: row;
    color: white;
    gap: 100px;
    column-gap: 100px;
    font-size: 20px;
    margin-left: 10px;
    width: 90vw;
    justify-content: space-between;
    text-decoration: underline;



}

footer span {
    font-size: 20px;
    margin-bottom: 20px;
    text-align: left;
    left: 0px;
}

footer button .but {
    height: 30px;
}


li {
    margin-top: 20px;
    gap: 50px;
    list-style-type: none;
}

.emd {
    display: flex;
    flex-direction: column;
    height: auto;
    background-color: rgb(25, 24, 24);
    max-width: 70vw;
    margin: auto;
    padding: 50px 0;
    gap: 20px;
    color: white;

}
.grid div{
    border: 2px solid black;
}
.item{
    margin-bottom: 20px;
}
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
}
/*.grid{
    display: grid;
    /* grid-template-columns: repeat(auto-fill,380px); 
    grid-dir=;

}/*